.trendingCoins{
    display:flex;
    overflow-x: scroll;
    margin-bottom: 1rem;
}
.trendingCoins__img{
    height: 150px;
    /* margin:10px ; */
}

/* Hide the scrollbar */
::-webkit-scrollbar {
    width: 0.5em; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  