.trendingCoins{
    display:flex;
    overflow-x: scroll;
    margin-bottom: 1rem;
}
.trendingCoins__heading{
  color: #fff;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 5px;
  font-family: Titillium Web;
}
.trendingCoins__wrapper{
  margin-top: 3rem;
  border: 1px solid black;
  background-color: #fff;
  margin: 15px;
  padding:10px 15px 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.trendingCoins__img{
    height: 120px;
    margin: 10px;
    
}
h4{
  text-align: center;
  margin-bottom: 10px;
  font-family: Titillium Web;
  font-size: 20px;
  
}

/* Hide the scrollbar */
::-webkit-scrollbar {
    width: 0.5em; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  