.banner{
    border: 1px solid black;
    width: 100%;
    height: 70vh;
    background-image: url("https://img.freepik.com/free-vector/gradient-style-technology-background_23-2148884154.jpg");
    object-fit: contain;
}
.banner__img{
    width: inherit; 
    height: inherit;
}